.food {
  margin-top: 50px;
  padding-top: 200px;
  background-color: rgba(255,255,255,.15);
  background: url(https://i.kinja-img.com/gawker-media/image/upload/s--UtjsCMpA--/c_scale,f_auto,fl_progressive,q_80,w_800/fnltdcfgfriq10dspggu.jpg);
  
}
.para
{
  font-size: 17px;
}